.container-notes-header {
    margin: 22px 0;

    #create-note-container {
        width: 100%;
        max-width: 500px;
        box-shadow: 0px 1px 4px 2px #dbdbdb;
        border-radius: 8px;
    
        .note-title {
            font-weight: 900;
            color: rgb(100, 100, 100);
            padding: 8px 16px;
        }
    
        .footer {
            display: flex;
            justify-content: flex-end;
            padding: 8px 16px;
    
            .footer-close-btn {
                font-size: 1em;
                padding: 8px 20px;
                border-radius: 4px;
                background: transparent;
                border: none;
    
                &:hover {
                    background-color: rgb(246, 246, 246);
                    cursor: pointer;
                }
            }
        }
    
        .not-visible {
            display: none;
        }
    }
}



.create-note {
    padding: 10px 16px;
    font-size: 1.2em;
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
}